<html>
  <head>
    <title>Taxas de Juros Bubble Chart</title>
    <META HTTP-EQUIV="Content-Type"
       CONTENT="text/html; charset=ISO-8859-1"> 
    </HEAD> 
	<%= javascript_include_tag "protovis-r3.2", "application" %>
	<%= javascript_include_tag "flare.js", "application" %>

    <style type="text/css">
		body {
			margin: 0;
		}
    </style>
  </head>

  <body>
    <H2>Bubble Chart mostrando bancos conforme suas taxas
    <H2>de juros para opera&ccedil;&otilde;es de cr&eacute;dito com pessoas f&iacute;sicas
    <H4><a href="/bc_scrapper/pf_cheque_especial">Consulte tamb&eacute;m a tabela com os valores dos juros.</a>            
    <H6><I>Fonte: Banco Central</I>

    <script type="text/javascript+protovis">

	/* Produce a flat hierarchy of the Flare classes. */
	var classes = pv.nodes(pv.flatten(flare).leaf(Number).array());
	classes.slice(1).forEach(function(d) {
	  d.nodeName = "flare." + d.nodeValue.keys.join(".");
	  var i = d.nodeName.lastIndexOf(".");
	  d.className = d.nodeName.substring(i + 1);
	  d.packageName = d.nodeName.substring(0, i);
	  d.nodeValue = d.nodeValue.value;
	});

	/* For pretty number formatting. */
	var format = pv.Format.number();

	var vis = new pv.Panel()
		.width(document.body.clientWidth)
		.height(document.body.clientHeight-10);

	vis.add(pv.Layout.Pack)
		.top(-50)
		.bottom(-50)
		.nodes(classes)
		.size(function(d) d.nodeValue)
		.spacing(0)
		.order(null)
	  .node.add(pv.Dot)
		.fillStyle(pv.Colors.category20().by(function(d) d.packageName))
		.strokeStyle(function() this.fillStyle().darker())
		.visible(function(d) d.parentNode)
		.title(function(d) d.nodeName + ": " + format(d.nodeValue))
	  .anchor("center").add(pv.Label)
		.text(function(d) d.className.substring(0, Math.sqrt(d.nodeValue) >> 4));

	vis.render();

    </script>
  </body>
</html>
